* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.site-header,
.site-footer {
  background-color: #1707ff;
  color: white;
  text-align: center;
  padding: 20px;
}
.site-nav {
  background-color: #0ee9e5;
  padding: 10px;
  
}
.site-nav li {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}
.site-nav a {
  color: white;
  text-decoration: none;
}

.content-wrapper {
  position: relative; 
  padding-right: 250px;
}
.main-content {
  padding: 20px;
  width: 100%; 
}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px; 
  height: 100%; 
  padding: 20px;
  background-color: #fefefe;
}
.sidebar li {
      display: inline-block;
      
    }
#li1 { 
    text-decoration: line-through; 
    }